* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#player {
  position: absolute;
  left: 30px;
  top: 30px;
  color: rgb(0, 0, 0);
  width: 6px;
  height: 6px;
  background-image: none;
  display: inline-block;
}

#map {
  position: relative;
  width: 100vw;
  height: 92dvh;
  overflow: hidden;
  background-image: url("./assets/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  position: absolute;
}

#status {
  background-color: rgb(18, 18, 18);
  width: 100svw;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  justify-content: center;
}

#status img {
  width: 45px;
  padding-top: 5px;
  left: 300px;
  position: relative;
}

.enemy {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: none;
}

/*----------ITEMS---------------*/
#table img {
  position: absolute;
  left: 400px;
  top: 34px;
  height: 80px;
  width: 80px;
}

#cactus img {
  height: 80px;
  width: 80px;
  left: 400px;
  top: 300px;
  position: absolute;
}

#game-over-overlay {
  position: absolute;
  z-index: 999;

  transform: translate(65%, -150%);

  align-items: center;
  justify-content: center;
  width: 650px;
  height: 300px;
  background-color: rgb(7, 7, 7);
  display: none;
  border-radius: 12px;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.game-over h1 {
  font-size: 64px;
}

.game-over h1,
.game-over h2 {
  gap: 40px;
  color: white;
}

.reset {
  padding: 15px;
  border-radius: 12px;
  margin-top: 5%;
  background-color: red;
  color: white;
  border: none;
}

.reset:hover {
  background-color: rgb(255, 53, 53);
  cursor: pointer;
}
