#player {
  position: absolute;
  left: -300px;
  right: 0px;
  color: rgb(0, 0, 0);
  width: 60px;
  background-image: none;
}

#arena {
  background-color: rgb(163, 163, 181);
  margin-top: 2%;
  width: 100%;
  height: 500px;
}

#status {
  background-color: rgb(18, 18, 18);
  width: 100%;
  top: 86%;
  height: 70px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 300px;
  justify-content: center;
}

#status img {
  width: 70px;
}
